https://app.datacamp.com/workspace/w/fbfe6c83-fcc6-438b-aadb-eb35e10f3bd0

https://www.datacamp.com/workspace/datasets/dataset-python-credit-card-fraud

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree, linear_model, metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix, accuracy_score
from sklearn.tree import export_graphviz

# Import data

In [9]:
df = pd.read_csv('creditcard_2023.csv')

In [10]:
df

,id,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-0.260648,-0.469648,2.496266,-0.083724,0.129681,0.732898,0.519014,-0.130006,0.727159,...,-0.110552,0.217606,-0.134794,0.165959,0.126280,-0.434824,-0.081230,-0.151045,17982.10,0
1,1,0.985100,-0.356045,0.558056,-0.429654,0.277140,0.428605,0.406466,-0.133118,0.347452,...,-0.194936,-0.605761,0.079469,-0.577395,0.190090,0.296503,-0.248052,-0.064512,6531.37,0
2,2,-0.260272,-0.949385,1.728538,-0.457986,0.074062,1.419481,0.743511,-0.095576,-0.261297,...,-0.005020,0.702906,0.945045,-1.154666,-0.605564,-0.312895,-0.300258,-0.244718,2513.54,0
3,3,-0.152152,-0.508959,1.746840,-1.090178,0.249486,1.143312,0.518269,-0.065130,-0.205698,...,-0.146927,-0.038212,-0.214048,-1.893131,1.003963,-0.515950,-0.165316,0.048424,5384.44,0
4,4,-0.206820,-0.165280,1.527053,-0.448293,0.106125,0.530549,0.658849,-0.212660,1.049921,...,-0.106984,0.729727,-0.161666,0.312561,-0.414116,1.071126,0.023712,0.419117,14278.97,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568625,568625,-0.833437,0.061886,-0.899794,0.904227,-1.002401,0.481454,-0.370393,0.189694,-0.938153,...,0.167503,0.419731,1.288249,-0.900861,0.560661,-0.006018,3.308968,0.081564,4394.16,1
568626,568626,-0.670459,-0.202896,-0.068129,-0.267328,-0.133660,0.237148,-0.016935,-0.147733,0.483894,...,0.031874,0.388161,-0.154257,-0.846452,-0.153443,1.961398,-1.528642,1.704306,4653.40,1
568627,568627,-0.311997,-0.004095,0.137526,-0.035893,-0.042291,0.121098,-0.070958,-0.019997,-0.122048,...,0.140788,0.536523,-0.211100,-0.448909,0.540073,-0.755836,-0.487540,-0.268741,23572.85,1
568628,568628,0.636871,-0.516970,-0.300889,-0.144480,0.131042,-0.294148,0.580568,-0.207723,0.893527,...,-0.060381,-0.195609,-0.175488,-0.554643,-0.099669,-1.434931,-0.159269,-0.076251,10160.83,1
568629,568629,-0.795144,0.433236,-0.649140,0.374732,-0.244976,-0.603493,-0.347613,-0.340814,0.253971,...,0.534853,-0.291514,0.157303,0.931030,-0.349423,-1.090974,-1.575113,0.722936,21493.92,1

In [8]:
df_non_anonymized = pd.read_csv('credit_card_fraud.csv')

In [5]:
df_non_anonymized.head() #drop trans_nums

,trans_date_trans_time,merchant,category,amt,city,state,lat,long,city_pop,job,dob,trans_num,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,"Heller, Gutmann and Zieme",grocery_pos,107.23,Orient,WA,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,49.159047,-118.186462,0
1,2019-01-01 00:00:51,Lind-Buckridge,entertainment,220.11,Malad City,ID,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,43.150704,-112.154481,0
2,2019-01-01 00:07:27,Kiehn Inc,grocery_pos,96.29,Grenada,CA,41.6125,-122.5258,589,Systems analyst,1945-12-21,413636e759663f264aae1819a4d4f231,41.657520,-122.230347,0
3,2019-01-01 00:09:03,Beier-Hyatt,shopping_pos,7.77,High Rolls Mountain Park,NM,32.9396,-105.8189,899,Naval architect,1967-08-30,8a6293af5ed278dea14448ded2685fea,32.863258,-106.520205,0
4,2019-01-01 00:21:32,Bruen-Yost,misc_pos,6.85,Freedom,WY,43.0172,-111.0292,471,"Education officer, museum",1967-08-02,f3c43d336e92a44fc2fb67058d5949e3,43.753735,-111.454923,0

In [7]:
df_non_anonymized.shape

(339607, 15)

In [6]:
df_non_anonymized['merchant'].value_counts()

merchant
Kilback LLC        1149
Cormier LLC         985
Schumm PLC          931
Kuhn LLC            896
Dickinson Lt        891
                   ...
Johnston-Caspe      191
Ebert-Daugherty     191
Kris-Kertzmann      186
Jerde-Hermann       184
Lynch-Moh           171
Name: count, Length: 693, dtype: int64

drop merchant ได้เลย แล้วไปใช้ category แทนได้ หรือเปลี่ยนmerchant เป็นทุนจดทะเบียน หรือเปลี่ยนเป็นตัวเลขอย่างอื่นที่make sense

city state เปลี่ยนเป็น 0/1 ได้ 1 = ถ้า fraud เยอะกว่า 70% 0 = otherwise

In [14]:
len(df_non_anonymized['merchant'].unique())

693

In [16]:
len(df_non_anonymized['job'].unique())
df_non_anonymized['job'].unique()

array(['Special educational needs teacher', 'Nature conservation officer',
       'Systems analyst', 'Naval architect', 'Education officer, museum',
       'Physiotherapist', 'Network engineer', 'Forensic psychologist',
       'Surveyor, minerals', 'Research officer, political party',
       'Dealer', 'Science writer', 'Solicitor, Scotland',
       'Geologist, engineering', 'Freight forwarder', 'Water engineer',
       'Tourist information centre manager', 'Location manager',
       'Editor, magazine features', 'Educational psychologist',
       'Health service manager', 'Retail merchandiser',
       'Telecommunications researcher', 'Product designer',
       'Engineer, communications', 'Scientist, audiological',
       'Teacher, early years/pre', 'Counsellor', 'Cartographer',
       'Research scientist (physical sciences)', 'Electronics engineer',
       'Museum/gallery exhibitions officer',
       'Chartered legal executive (England and Wales)',
       'Television floor manager', 'Contractor', 'Health physicist',
       'Occupational psychologist', 'Investment analyst',
       'Engineer, building services', 'Community arts worker',
       'Public house manager', 'Administrator, education', 'Architect',
       'Call centre manager', 'Podiatrist', 'Architectural technologist',
       'Therapist, occupational', 'Mental health nurse',
       'Surveyor, mining', "Nurse, children's", 'Cytogeneticist',
       'Museum education officer', 'Immigration officer',
       'Therapist, horticultural', 'Intelligence analyst',
       'Advertising account planner', 'Administrator, local government',
       'Agricultural consultant', 'Sales executive', 'Charity officer',
       'Civil Service fast streamer', 'Engineer, maintenance',
       'Music therapist', 'Scientist, research (maths)',
       'Scientist, physiological', 'Buyer, industrial',
       'Local government officer', 'Land/geomatics surveyor',
       'Civil engineer, contracting', 'Pilot, airline',
       'Product/process development scientist', 'Associate Professor',
       'Counselling psychologist', 'Wellsite geologist',
       'Materials engineer', 'Radio broadcast assistant',
       'Engineer, production', 'Building surveyor', 'Colour technologist',
       'Chartered public finance accountant', 'Engineer, agricultural',
       'Historic buildings inspector/conservation officer',
       'Learning mentor', 'Therapist, music', 'Early years teacher',
       'Public relations account executive', 'Geoscientist', 'Barista',
       'Marketing executive', 'Tax inspector', 'Therapist, art',
       'Engineer, automotive', 'Barrister', 'Education administrator',
       'Nurse, mental health', 'Planning and development surveyor',
       'Chief Marketing Officer', 'Surveyor, land/geomatics',
       'Lecturer, higher education', 'Magazine features editor',
       'Designer, exhibition/display', 'Pharmacist, hospital',
       'Public librarian', 'Town planner', 'Web designer',
       'Petroleum engineer', 'Information systems manager',
       'Hotel manager', 'Insurance broker', 'Sales professional, IT',
       'Further education lecturer', 'Osteopath',
       'Occupational hygienist', 'Production manager',
       'Chemical engineer', 'Musician', 'Economist', 'Futures trader',
       'Civil Service administrator', 'Engineer, biomedical',
       'Airline pilot', 'Firefighter', 'Chiropodist', 'Soil scientist',
       'IT consultant', 'Television/film/video producer',
       'Private music teacher', 'Clothing/textile technologist',
       'Human resources officer', 'Clinical research associate',
       'Engineer, electronics', 'Investment banker, corporate',
       'Metallurgist', 'Aeronautical engineer',
       'Radiographer, diagnostic', 'Licensed conveyancer',
       'Research scientist (maths)', 'Video editor',
       'Engineer, civil (consulting)',
       'Armed forces training and education officer',
       'Medical technical officer', 'Glass blower/designer',
       'Scientist, marine', 'Exercise physiologist',
       'Engineer, petroleum', 'Teacher, adult education',
       'Journalist, newspaper', 'Teaching laboratory technician',
       'Comptroller', 'Clinical cytogeneticist', 'Engineer, site',
       'Set designer', 'Landscape architect',
       'Careers information officer', 'Industrial/product designer',
       'Fine artist', 'Accountant, chartered',
       'Research scientist (medical)',
       'Development worker, international aid', 'Information officer',
       'TEFL teacher', 'Systems developer', 'Commissioning editor'],
      dtype=object)

In [28]:
df.head()

,id,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-0.260648,-0.469648,2.496266,-0.083724,0.129681,0.732898,0.519014,-0.130006,0.727159,...,-0.110552,0.217606,-0.134794,0.165959,0.126280,-0.434824,-0.081230,-0.151045,17982.10,0
1,1,0.985100,-0.356045,0.558056,-0.429654,0.277140,0.428605,0.406466,-0.133118,0.347452,...,-0.194936,-0.605761,0.079469,-0.577395,0.190090,0.296503,-0.248052,-0.064512,6531.37,0
2,2,-0.260272,-0.949385,1.728538,-0.457986,0.074062,1.419481,0.743511,-0.095576,-0.261297,...,-0.005020,0.702906,0.945045,-1.154666,-0.605564,-0.312895,-0.300258,-0.244718,2513.54,0
3,3,-0.152152,-0.508959,1.746840,-1.090178,0.249486,1.143312,0.518269,-0.065130,-0.205698,...,-0.146927,-0.038212,-0.214048,-1.893131,1.003963,-0.515950,-0.165316,0.048424,5384.44,0
4,4,-0.206820,-0.165280,1.527053,-0.448293,0.106125,0.530549,0.658849,-0.212660,1.049921,...,-0.106984,0.729727,-0.161666,0.312561,-0.414116,1.071126,0.023712,0.419117,14278.97,0

# Visualize data

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568630 entries, 0 to 568629
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      568630 non-null  int64
 1   V1      568630 non-null  float64
 2   V2      568630 non-null  float64
 3   V3      568630 non-null  float64
 4   V4      568630 non-null  float64
 5   V5      568630 non-null  float64
 6   V6      568630 non-null  float64
 7   V7      568630 non-null  float64
 8   V8      568630 non-null  float64
 9   V9      568630 non-null  float64
 10  V10     568630 non-null  float64
 11  V11     568630 non-null  float64
 12  V12     568630 non-null  float64
 13  V13     568630 non-null  float64
 14  V14     568630 non-null  float64
 15  V15     568630 non-null  float64
 16  V16     568630 non-null  float64
 17  V17     568630 non-null  float64
 18  V18     568630 non-null  float64
 19  V19     568630 non-null  float64
 20  V20     568630 non-null  float64
 21  V21     568630 non-null  float64
 22  V22     568630 non-null  float64
 23  V23     568630 non-null  float64
 24  V24     568630 non-null  float64
 25  V25     568630 non-null  float64
 26  V26     568630 non-null  float64
 27  V27     568630 non-null  float64
 28  V28     568630 non-null  float64
 29  Amount  568630 non-null  float64
 30  Class   568630 non-null  int64
dtypes: float64(29), int64(2)
memory usage: 134.5 MB

In [30]:
df.isnull().values.any()

False

## Build model

In [31]:
X = df.drop(['id', 'Class'], axis=1)
y = df['Class']

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Model 1: Logistic Regression

In [33]:
m1 = linear_model.LogisticRegression()
m1.fit(X_train, y_train)
#Predict the response for test dataset
y_pred_train_m1 = m1.predict(X_train)
y_pred_test_m1 = m1.predict(X_test)

/Users/13124mx/Library/Python/3.9/lib/python/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [34]:
print(classification_report(y_train,y_pred_train_m1,target_names=["no Fraud", "Fraud"]))
# print(f'accuracy score =',accuracy_score(y_train,m1.predict(X_train)))

              precision    recall  f1-score   support

    no Fraud       0.94      0.98      0.96    227147
       Fraud       0.98      0.93      0.95    227757

    accuracy                           0.96    454904
   macro avg       0.96      0.96      0.96    454904
weighted avg       0.96      0.96      0.96    454904

In [35]:
print(classification_report(y_test,y_pred_test_m1,target_names=["no Fraud", "Fraud"]))
# print(f'accuracy score =',accuracy_score(y_test,m1.predict(X_test)))

              precision    recall  f1-score   support

    no Fraud       0.94      0.98      0.96     57168
       Fraud       0.98      0.93      0.95     56558

    accuracy                           0.96    113726
   macro avg       0.96      0.96      0.96    113726
weighted avg       0.96      0.96      0.96    113726

## Model 2: Dicision Tree

In [36]:
m2 =  DecisionTreeClassifier(criterion= "gini", max_depth=None)

#Step 3: Train Decision Tree Classifer
m2 = m2.fit(X_train,y_train)
#Predict the response for test dataset
y_pred_train_m2 = m2.predict(X_train)
y_pred_test_m2 = m2.predict(X_test)

In [37]:
print(classification_report(y_train,y_pred_train_m2,target_names=["no Fraud", "Fraud"]))
print(f"accuracy score = {accuracy_score(y_train,y_pred_train_m2)}")

              precision    recall  f1-score   support

    no Fraud       1.00      1.00      1.00    227147
       Fraud       1.00      1.00      1.00    227757

    accuracy                           1.00    454904
   macro avg       1.00      1.00      1.00    454904
weighted avg       1.00      1.00      1.00    454904

accuracy score = 1.0

In [38]:
print(classification_report(y_test,y_pred_test_m2,target_names=["no Fraud", "Fraud"]))
print(f'accuracy score =',accuracy_score(y_test,y_pred_test_m2))

              precision    recall  f1-score   support

    no Fraud       1.00      1.00      1.00     57168
       Fraud       1.00      1.00      1.00     56558

    accuracy                           1.00    113726
   macro avg       1.00      1.00      1.00    113726
weighted avg       1.00      1.00      1.00    113726

accuracy score = 0.9978281131843202

## Model 3: XGBoost

## Model 4: